<% layout( 'layout' ) -%>


<div class="row">
    <div class="col-sm-4">

  <form action="/create" method="post" accept-charset="utf-8">
  <tr><td colspan=2> <strong>Create new shopping item</strong> </td></tr>
	    <table width="100%">
		    <tr>
		    	<td>Quantity</td>
		    	<td><input class="input" type="number" name="quantity" value="1" /></td>
		    </tr>
		    <tr>
		    	<td>Product</td>
		    	<td><input class="input" type="text" name="productName" /></td>
		    </tr>
		    <tr>
		    	<td>Dept</td>
		    	<td>
		    	</td>
		    </tr>
		    <tr>
		    	<td>Store</td>
		    	<td>
		    	</td>
		    </tr>
		    <tr>
		    	<td colspan="2"><button type="submit" class="btn btn-xs btn-default">Add</button></td>
		    </tr>
		</table>
  </form>
</div>
</div>





<% list.forEach( function ( store ){ %>
	    <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title"><%= store.store %></h3></div>
        <div class="panel-body">

        </div>
        </div>
<% }); %>