<% layout( 'layout' ) -%>

<div class="jumbotron">
    <h1>Stores</h1>
    <p>Welcome to the stores section</p>
</div>



<div class="row">
    <div class="col-sm-4">
  <form action="/createstore" method="post" accept-charset="utf-8">
    <table width="100%">
    <tr><td colspan=2> <strong>Create new store </strong></td></tr>
	    <tr>
	    	<td>Store</td>
	    	<td><input class="input" type="text" name="storeName" value="" /></td>
	    </tr>
	    <tr>
	    	<td>Address</td>
	    	<td><input class="input" type="text" name="address" /></td>
	    </tr>
      <tr><td colspan="2"><button type="submit" class="btn btn-xs btn-default">Add</button></td></tr>
	 </table>
  </form>
</div>
</div>


<div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h3 class="panel-title">Stores</h3></div>
          <div class="panel-body">
          <table width="100%" border="0" class="table table-striped">
            <% stores.forEach( function ( item ){ %>
            <tr>
                <td style="padding:5px"><a class="update-link" href="/editstore/<%= item._id %>" title="Update this store"><%= item.storeName %></a></td>

                <td align="right"><button type="button" onClick="location.href='/destroystore/<%= item._id %>'" class="btn btn-xs btn-danger">Del</button></td>
            </tr>
            <% }); %>
            </table>

          </div>
        </div>
    </div>
</div>